* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

header {
    height: 100vh;
    width: 100%;
    margin: auto;
}

header #logo {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    overflow: hidden;
    max-width: 501px;
    margin: 50px auto 0;
    width: 85%;
}

canvas {
    position: absolute;
    width: 100%;
}

header #logo img {
    position: relative;
    z-index: 10;
    max-height: 100%;
    max-width: 100%;
    margin: -5px 0;
}

header svg#city .building {
    transform-origin: 0 100%;
}

header svg#city .clouds {
    transform-origin: 50% 50%;
}

svg #power-button {
    cursor: pointer;
}

svg #plane-group {
    transform-origin: 50% 50%;
}

section h1 {
    text-align: center;
    font-size: 2.5rem;
}

section .team {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section .member,
section .content {
    margin: auto;
}

section .content .name,
section .content .title {
    text-align: center;
}

section .photo {
    width: 150px;
    height: 150px;
    border: 4px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

section .photo img {
    width: 100%;
    height: auto;
}

section .product {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section .product .content {
    width: 0px;
    flex-grow: 2;
}

section .product .prototype img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

section .contact .input {
    clear: both;
    margin: 0 auto 10px;
    text-align: center;
    width: 241px;
}

section .contact .inputform {
    background: url(../formtextfield.png) no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #6D635D;
    font-size: 15px;
    font-style: italic;
    height: 40px;
    padding-left: 18px;
    width: 241px;
}

section .contact .textareaform {
    background: url("../textarea.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #6D635D;
    font-size: 15px;
    font-style: italic;
    height: 150px;
    padding-left: 18px;
    padding-top: 12px;
    resize: none;
    width: 241px;
}

section .contact .submit-contact {
    padding-bottom: 30px;
}

section:nth-of-type(1) {
    background: -webkit-gradient(linear, left top, left bottom, from(#00467f), to(#00c6fb));
    background: -webkit-linear-gradient(#00467f, #00c6fb);
    background: -o-linear-gradient(#00467f, #00c6fb);
    background: linear-gradient(#00467f, #00c6fb);
    color: #fff;
}

section:nth-of-type(2) {
    background: #fdc830; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fdc830, #f37335); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fdc830, #f37335); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

section:nth-of-type(3) {
    background: -webkit-gradient(linear, left top, left bottom, from(#fd79a8), to(#e84393));
    background: -webkit-linear-gradient(#fd79a8, #e84393);
    background: -o-linear-gradient(#fd79a8, #e84393);
    background: linear-gradient(#fd79a8, #e84393);
    color: #fff;
}

section:nth-of-type(4) {
    background: -webkit-gradient(linear, left top, left bottom, from(#49ceef), to(#23768a));
    background: -webkit-linear-gradient(#49ceef, #23768a);
    background: -o-linear-gradient(#49ceef, #23768a);
    background: linear-gradient(#49ceef, #23768a);
    color: #fff;
}

footer {
    padding: 15px;
    background-color: #607D8B;
}

footer div {
    max-width: 1100px;
    margin: auto;
}

footer div div {
    float: right;
}

footer svg {
    vertical-align: middle;
}

footer div, footer a {
    color: white;
}

@media screen and (max-width: 1024px) {
    svg#city {
        height: 65%;
        position: relative;
        transform: translateX(10%);
        float: right;
    }
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}