html {
    font-family: Varela Round, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

#wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

#header {
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.header-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    margin-top: 50px;
    width: 100%;
}

.header-background {
    height: 87%;
    min-height: 350px;
    background-color: #3498db;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.header-background svg {
    position: absolute;
}

.header-background svg#mountain {
    bottom: 0;
}

.header-background svg#cloud-1 {
    top: 10%;
    left: 15%;
    width: 100px;
}

.header-background svg#cloud-2 {
    top: 25%;
    right: 20%;
    width: 60px;
}

#header h1,
h2 {
    font-weight: 400;
}

#header h1 {
    margin-bottom: 0;
}

#header h2 {
    margin-top: 5px;
}

#header img.logo {
    max-width: 150px;
    max-height: 150px;
    width: 100%;
}

#header img.home {
    width: 90%;
    max-width: 953px;
    height: 90%;
    max-height: 448px;
}

.content,
.teams {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.content {
    width: 90%;
}

.content.text {
    max-width: 900px;
}

.content h3,
.content h4,
.teams h3,
.teams h4 {
    font-size: 27px;
    font-weight: 400;
}

.content h3,
.teams h3 {
    color: #e74c3c;
}

.content .benefits {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content .benefits:nth-of-type(even) {
    flex-wrap: wrap-reverse;
}

.content .benefits .text {
    max-width: 500px;
}

.content .benefits img {
    width: 100%;
    flex: 1;
    max-width: 450px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 920px;
    margin: 15px auto;
}

.team .member {
    margin: 15px;
}

.team .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.team .member>div {
    text-align: center;
}


@media screen and (max-width: 640px) {
    .team .member img {
        width: 125px;
        height: 125px;
    }
}

.team .member h3 {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    background-color: #2980b9;
    color: white;
}

footer div {
    display: flex;
    align-items: center;
}

footer a {
    color: #ffffff;
}